<?xml version="1.0"?>

<!-- Declare this file as a Xacro file -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="position_joint_interface" params="joint_name initial_pos">
     
        <!-- Define the joint block used -->
        <joint name="${joint_name}">
            
            <!-- The command interface: tells interface that this joint
                 can receive position commands -->
            <command_interface name="position"/>
            
            <state_interface name="position"> 
                <param name="initial_value">${initial_pos}</param>
            </state_interface>
            <state_interface name="velocity">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="effort">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
    </xacro:macro>
</robot>
